body{
    font-family: 'Noto Sans JP', sans-serif;
}
a{
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-size: 13px;
}
a:hover a:visited, a:link, a:active {
    text-decoration: none;
}

.navigation-section ul{
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-end;

}

.navigation-section li{
    padding: 10px;
}

.navigation-section button{
    padding: 6px 17px;
    background-color: rgb(35, 103, 204);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.google-img{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -140px;
    /* or transform: translate(-50%, -160%); */
 

}


.searchContainer {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row-reverse;
}

.searchBar{
    width:100%;
    border: 1px solid #dbdbdb;
    border-radius: 30px;
    height: 35px;
    padding: 5px;
    outline: none;
    /* flex: 1; */
}

.searchButton{
    width: 0%;
    transform: translate(15px, -35px);
    color: gray;
    cursor: pointer;

}

.buttonsWrapper{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
}

.buttonsWrapper button{
    padding: 10px;
    margin-right: 20px;
    border: none;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.buttonsWrapper button:hover{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
}

.footerWrapper{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: rgb(241, 240, 240);
    display: flex;
    justify-content: space-between;

}


.footerWrapper ul{
    list-style-type: none;
    display: flex;
    padding: 0;    
}

.footerWrapper li{
    margin-left: 25px;
    font-size: 12px;
    padding-right: 10px;
}










